@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Google Sans Regular";
    box-sizing: border-box;
}

body {
    background: #fefefe;
}
.section-img{
    background-image: url("/Img/inicio/principal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.logo_central{
    width: 200px;
    background-color: white;
    border-radius: 1000px;
}

h1{
    font-weight: bold;   
}
.titulo1{
    color: var(--color-2);
}
.titulo1-1{
    font-weight: bold;
    color: var(--color-2);
    text-shadow: 
    -1px -1px 0 #fff,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}
.titulo-form{
    color: rgb(250, 250, 250);
}
.subtitulo-form{
    color: var(--color-3);
}
.parrafo{
    font-weight: bold;
    color:white;
}
.parrafo2{
    font-weight: bold;
    color:var(--color-3);
}
.box-estres{
    padding-left: 10%;
    padding-right: 10%;
}
:root{
    --color-primario: #EC111A;
    --sombras: #282D31;
    --bordes: #DFE0E0;
    --color-titulos: #282D31;
    --color-parrafos: #53575A;
    --color-1: #7FDDA5;
    --color-2: #1bc35e;
    --color-3: #6d736f;
}
/* PARA MATRICULA */
.titulo-2{
    color: var(--color-2);
}

.formulario h1{
    text-align: center;
}

input[type="submit"]{
    height: 50px;
    border: 1px solid;
    background: var(--color-2);
    border-radius: 25px;
    color: #fff;
    font-weight: bold;
    align-items: center;
}
.cuadrito{
    border-radius: 20px;
}
.btn-primary{
    width: 50%;
    border-radius: 25px;
}

form{
    display: flex;
    flex-direction: column;
}

.form-container{
    padding-left: 5%;
    padding-right: 5%;
}

input{
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.858);
    border: 3px solid var(--color-1);
    margin-bottom: 10px;
}
.formulario .aceptar-politicas{
    font-weight: bold;
    text-align: center;
}

.formulario .aceptar-politicas .pol_priv{
    font-weight: bold;
    color:var(--color-2);
}
.formulario .aceptar-politicas .pol_priv1{
    font-weight: bold;
    color:var(--color-3);
}
.formulario .titulo-form{
    background-color: var(--color-2);
    font-weight: bolder;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.formulario .subtitulo-form{
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
}

.formulario {
    background-color: #ffffffd0;
    border: #000;
    border-radius: 50px;
}



