.perfil-usuario {
    background-color: white;
    padding: 20px;
}

.perfil-usuario .container {
    width: 80%;
    margin: auto;
}

.perfil-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.perfil-foto {
    width: 150px; 
    height: 150px; 
    border-radius: 50%;
    margin-right: 20px;
}

.perfil-datos {
    text-align: left; 
    flex-grow: 1;
}

.perfil-datos h2 {
    margin: 0;
}

.perfil-datos p {
    margin: 5px 0;
}

.perfil-botones {
    margin-bottom: 20px;
}

.perfil-botones .btn {
    margin-right: 10px;
    background-color: #7FDDA5;
    border-color: #7FDDA5;
}

.perfil-botones .btn:hover {
    background-color: #6FC394;
    border-color: #6FC394;
}

.perfil-info {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.perfil-info.active {
    display: block;
    opacity: 1;
}

.perfil-info h3 {
    color: #333;
    margin-bottom: 10px;
}

.perfil-info ul {
    list-style-type: none;
    padding: 0;
}

.perfil-info li {
    background-color: #f4f4f4;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.curso-link {
    color: #1b914a;
    text-decoration: none;
}

.curso-link:hover {
    text-decoration: underline;
}

.curso-detalles {
    display: none;
    margin-top: 20px;
}
